.wrapper {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--light_1);
  .label {
    color: var(--dark_3);
    font-weight: 500;
    padding: 5px 0;
    margin-bottom: 5px;

  }
  .body {
    
  }
}