.wrapper {
  padding-top: 30px;
  .head {}

  .body {
    max-height: 450px;
    overflow-y: auto;

    .item {
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
      // transition: all .2s ease;
      font-size: 18px;
      line-height: 25px;
      border: 1px solid transparent;

      &:hover {
        border-color: var(--light_3);
      }
    }

    .item.active {
      background-color: var(--light_2);

    }
  }

  .action {}
}