.wrapper {
  .header {
    
  }
  .main {
    display: flex;
    
    .sidebar {
      transition: all .3s ease;
      width: 0;
      flex: 0 0 auto;
    }
    .content {
      transition: all .3s ease;
      width: 100%;
      padding: 0 15px 15px 15px;
    }
  }
}